Source: ros-jazzy-rcl-logging-spdlog
Section: misc
Priority: optional
Maintainer: Chris Lalancette <clalancette@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ament-cmake-copyright <!nocheck>, ament-cmake-cppcheck <!nocheck>, ament-cmake-cpplint <!nocheck>, ament-cmake-flake8 <!nocheck>, ament-cmake-lint-cmake <!nocheck>, ament-cmake-pep257 <!nocheck>, ament-cmake-ros, ament-cmake-uncrustify <!nocheck>, ament-cmake-xmllint <!nocheck>, ament-lint <!nocheck>, libperformance-test-fixture-dev <!nocheck>, librcpputils-dev, librcutils-dev, libspdlog-dev, python3-rcutils, ros-jazzy-rcl-logging-interface, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-rcl-logging-spdlog
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, librcpputils-dev, librcutils-dev, libspdlog-dev, python3-rcutils, ros-jazzy-rcl-logging-interface, ros-jazzy-ros-workspace
Description: Implementation of rcl_logging API for an spdlog backend.
